body 
{
    font-family: "Times New Roman", Times, serif;
	font-size: 20px;
    margin:auto;
    max-width:400px;
    background-image:url(background.jpg);
    background-size:cover;
	background-repeat: no-repeat;
}

#form_html
{
	width: 400px;
	position: relative;
    height:500px;  
}

#submit
{
	text-align:center;
}

#button
{
	background-color: #10BBF1;
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	left: 50%;
	margin-top: 20px;
	
	
}

td
{
    padding: 10px;
    text-align: left;
}

#table
{
	width: 400px;
}

#card
{
	position: relative;
    height:300px;
    width:250px; 
    background-image:url(card.jpg);
    background-size:cover;
}


.noti
{
	height: 90px;
    /*background-color:#10BBF1;*/
    position: relative;
    color: black;
    text-align:center;
}

#paragh
{
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#card
{
	height: 260px;
	width: 400px;
    background-image:url(card.jpg);
    background-size:cover;
	background-repeat: no-repeat;	
}

.info
{
	text-align: center;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	
}

#alert
{
	width: 400px;
	height: 30px;
	color = black;
}